body {
    border: 5px solid green;
    background-color: #BCA4BF;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-site {
    background-color: #c8aecb;
}

main {
    width: 80%;
    border: 5px solid red;
    background-color: #048fc8;
}