body {
    border: 5px solid green;
    background-color: #BCA4BF;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-site {
    background-color: #c8aecb;
}

nav {
    background-color: #F2CA52;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.navbar-1 {
    border: 5px solid black;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding: 1rem;
    font-weight: bold;
}

.main-div {

    border: 10px solid blue;
}

main {
    width: 80%;
    border: 5px solid red;
    background-color: #048fc8;
}